<div id="heading">hello <span id="name">{{getFullName()}}</span></div>
<div class="flex-center mt-20">
    <div id="balance">$ {{balance()}}</div>
@if(balance()<50){
    <div id="balance-warning">Balance is low</div>
}
</div>
<div id="button-bar">
    <button (click)="increaseBalance(10)">Increase Balance</button>
    <button (click)="decreaseBalance(10)" [disabled]="balance()==0">Decrease Balance</button>
</div>

<div class="mt-20">
    <h2>Transactions</h2>
    <ul>
        @for(transaction of transactions(); track transaction.id){
            <li><span class="transaction-type">{{transaction.type}}</span> - <span class="transaction-amount {{transaction.type}}">{{transaction.amount}}</span> - {{transaction.date}}</li>
        }
    </ul>
    </div>